/* ---------------------------------------*/
/*---------BODY (ENTIRE WEBPAGE)----------*/
/* ---------------------------------------*/

html
{
   
    backdrop-filter: blur(5px);
    background-size: cover;

}

body
{
    text-align: center;

    /*Top + bottom margins = 0, left + right margins = auto */
    margin: 0 auto;
    background-color:#C9E4C1;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

/* ---------------------------------------*/
/*---------Navigation Bar-----------------*/
/* ---------------------------------------*/

header
{

    align-items: baseline;
    background-color: #e0f2f1;
    background: url('mountain.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;

}
.heading{
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding-left:3%;
}
.title
{
    font-size: 75px; 
    font-family: 'Nerko One', cursive;
    text-transform: uppercase;

}
.horse{
   padding-top:.5%;
   padding-left:1%;
   height:120px;
   width:100px;
   object-fit: cover;
   
}

.active
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite linear;
}
.space{
    height:30px;
}
nav{

  font-size:15px;
  text-transform: uppercase;
}
ul.navbar li
{
    display: inline;
    padding: 1px 60px 1px 1px;
}

ul.navbar li a 
{
    color: #2f4052;
    text-decoration: none;
    text-transform: uppercase;
 
}

ul.navbar li a:visited 
{
    color: #2f4052;
}


@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

ul.navbar li a:active 
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;     
}

/* ---------------------------------------*/
/*---------LINKS--------------------------*/
/* ---------------------------------------*/

a 
{
    color:green;
    text-decoration: none;
}

nav a:visited 
{
    color:green;
}

nav a:focus 
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite linear;
}

nav a:hover 
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite linear;
}

/* ---------------------------------------*/
/*---------MAIN---------------------------*/
/* ---------------------------------------*/
main
{
   
    flex: 7;
    position: relative;
  
  
}

.article{
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    width:70%;
    position:relative;
   
}
.aboutme{
    display:flex;
    width:70%;
    margin-right:auto;
    margin-left:auto;
}
.about_img{
    width:50%;
    height:50%
}
#project_grid
{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    grid-gap: 10px;
    z-index:100;
    height: 50%;
    position: relative; 
    
}
@media (max-width: 600px) {

    #project-grid {
        margin-left: 2%;
        margin-right: 2%;
        display: grid;
        grid-gap: 10px;
        z-index:100;
        height: 50%;
        position: relative; 
        
     }

}
/* Container of each project */
#project_grid div
{
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}


#project_grid div img.project_img:hover
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-animation: hue 1s infinite linear;
    
}
#project_grid div h2{
    font-weight: normal;
    font-size:15px;
    text-transform:uppercase;

}
#project_grid div h2:hover
{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a); 
    -webkit-background-clip: text;
    -webkit-animation: hue 1s infinite linear;
    
}



/* Images inside project */
#project_grid div .project_img
{   

    height:350px;
    width:350px;
   border-style:outset;
   border-width:.6px;
    
}


/*****************************************************/
/*Header of each project (Title and year) */
#project_grid div .title_same_line
{
    display: flex;
    border: none;
    font-weight: bold;
    padding: 0;
    align-items: center;
    text-align: center;
    color:rgb(58, 57, 57);

}



/*****************************************************/
/*Footer of project (technologies used with images)  */
#project_grid div .technologies_same_line
{
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;

    /* Align items at the bottom ( same distance from border) */
    position: absolute; 
    bottom: 0;
    

    align-self: flex-end;
    align-items: center;

}

#project_grid div .technologies_same_line img
{
    margin-left: 4px;
    
}



/* ---------------------------------------*/
/*---------FOOTER-------------------------*/
/* ---------------------------------------*/
footer
{
    background-color: #a3b3b6;
    flex: 1;
    align-items: center;

    /*Because body has margins */
    margin: 0px -50px 0px -50px;
}