{% load static %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Caitlin Gerrard</title>
        <link rel="stylesheet" href="{%static '../theblog/style.css'%}">
        <link rel="icon" href="{%static '../theblog/horse.jpeg' %}">
      
        <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    </head>
    
    <body>
    
        <header>
            <div class="heading">
             <div class="title">Caitlin Gerrard</div>
             <img class="horse" src="{%static '../theblog/horse.jpeg' %}">
            </div>
            <nav>
                <ul class="navbar">
                  
                    {%for item in cat_menu%}   
                    {%if item.name  not in "about"%}    
                     <li class="{% if item|slugify in curr_url%}active{%endif%}"><a href="{% url 'category' item|slugify%}">{{item}}</a></li>
                    {%endif%}
                    {%endfor%}
                    {%for item in cat_menu%}   
                    {%if item.name  in "about"%}    
                     <li class="{% if item|slugify in curr_url%}active{%endif%}"><a href="{% url 'category' item|slugify%}">{{item}}</a></li>
                    {%endif%}
                    {%endfor%}
                
                  </ul>
            </nav>
            <div class="space"></div>
  
        </header>

        <main>
  
            <div id="alphabetBackground"></div>
            {% block content %}
            {% endblock %}
        </main>
       
</body></html>